.header__logo {
  max-height: 33px;
  max-width: 142px;

  transition-property: opacity;

  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-height: 24.4px;
    max-width: 103.74px;
  }
}