.header {
  max-width: calc(100vw - 27px * 2);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition-property: min-height;
  transition-duration: 0.2s;

  min-height: 100px;
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 85px;
  }
}
