.header__link-container {
  margin-left: 18px;
}

.header__link-container:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .header__link-container {
    margin-left: 0;

    margin-top: 32px;
  }

  .header__link-container:first-child {
    margin-top: 0;
  }
}
